<div class="about-jumbotron"></div>
<div class="container">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong class="text-uppercase">Mind the surge</strong>
			</div>
			<div class="panel-body">
				<p>
					<em>Uber Surge</em>Trends shows you historical data that'll help you plan out your Uberings about town. Need to pick up bagels
					for your disgruntled boss? Maybe try to beat rush hour to avoid paying 1.4 times more the usual rate!</p>
				<p>If you like the app, but don't see your city, just drop me a message on
					<a href="http://www.twitter.com/martellaj" target="_blank">Twitter</a>. Feel free to send me tweets about bugs, feature requests, or general feedback as well!
					<p>
			</div>
		</div>
	</div>
</div>